
<!-- <div class="container">
  <div
    class="row justify-content-center align-items-start"
    style="margin-top: 20px"
  >
    <div class="text-center">
      <button
        (click)="fetchPosts(user.id, 'posts')"
        class="btn btn-success mx-2"
      >
        Posts
      </button>
      <button
        (click)="fetchAlbums(user.id, 'albums')"
        class="btn btn-success mx-2"
      >
        Albums
      </button>
      <button
        (click)="fetchTasks(user.id, 'tasks')"
        class="btn btn-success mx-2"
      >
        Tasks
      </button>
    </div>
  </div>
  <div class="row">
    <div
      class="card text-white bg-dark mb-3 m-3 col-4 mx-auto"
      style="max-width: 30%"
    >
      <div class="card-body">
        <h5 class="card-title">info - users</h5>
        <p class="card-text">NAME : {{ user?.name }}</p>
        <p class="card-text">EMAIL : {{ user?.email }}</p>
      </div>
    </div>
  </div>
    <div class="row d-flex flex-row flex-wrap justify-content-center">
      <div class="col-12">
        <div *ngIf="currentView === 'posts' && posts.length > 0">
          <h4>Posts</h4>
          <div class="row">
            <ul class="list-group col-12 d-flex flex-row flex-wrap">
              <li
                class="list-group-item col-12 col-sm-6 col-md-4"
                *ngFor="let post of posts"
              >
                <h5>{{ post.title }}</h5>
                <p>{{ post.body }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-row flex-wrap justify-content-center">
      <div class="col-12">
        <div *ngIf="currentView === 'albums' && albums.length > 0">
          <h4>Albums</h4>
          <div class="row">
            <ul class="list-group col-12 d-flex flex-row flex-wrap">
              <li
                class="list-group-item col-12 col-sm-6 col-md-4"
                *ngFor="let album of albums"
              >
                {{ album.title }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-flex flex-row flex-wrap justify-content-center">
      <div class="col-12">
        <div *ngIf="currentView === 'tasks' && tasks.length > 0">
          <h4>Tasks</h4>
          <div class="row">
            <ul class="list-group col-12 d-flex flex-row flex-wrap">
              <li
                class="list-group-item col-12 col-sm-6 col-md-4"
                *ngFor="let task of tasks"
              >
                {{ task.title }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-user-show></app-user-show>
    </div>
  </div>
  -->
<div class="container">
  <div class="row justify-content-center align-items-start" style="margin-top: 20px">
    <div class="col-3"> <!-- ستونی برای Userlist -->
      <ul class="list-group">
        <h5>Userlist</h5>
        <li class="list-group-item" *ngFor="let user of users">
          <a [routerLink]="['/user', user.id]"> {{ user.name }}</a>
        </li>
      </ul>
    </div>

    <div class="col-9"> 
      <div class="text-center">
        <button (click)="fetchPosts(user.id, 'posts')" class="btn btn-success mx-2">Posts</button>
        <button (click)="fetchAlbums(user.id, 'albums')" class="btn btn-success mx-2">Albums</button>
        <button (click)="fetchTasks(user.id, 'tasks')" class="btn btn-success mx-2">Tasks</button>
      </div>

      <div class="row">
        <div class="card text-white bg-dark mb-3 m-3 col-4 mx-auto" style="max-width: 30%">
          <div class="card-body">
            <h5 class="card-title">info - users</h5>
            <p class="card-text">NAME : {{ user?.name }}</p>
            <p class="card-text">EMAIL : {{ user?.email }}</p>
          </div>
        </div>
      </div>

      
      <div *ngIf="currentView === 'posts' && posts.length > 0">
        <h4>Posts</h4>
        <ul class="list-group">
          <li *ngFor="let post of posts" class="list-group-item">{{ post.title }}</li>
        </ul>
      </div>

      <div *ngIf="currentView === 'albums' && albums.length > 0">
        <h4>Albums</h4>
        <ul class="list-group">
          <li *ngFor="let album of albums" class="list-group-item">{{ album.title }}</li>
        </ul>
      </div>

      <div *ngIf="currentView === 'tasks' && tasks.length > 0">
        <h4>Tasks</h4>
        <ul class="list-group">
          <li *ngFor="let task of tasks" class="list-group-item">{{ task.title }}</li>
        </ul>
      </div>
    </div>
  </div> 
 

