<div class="container-fluid h-100">
  <div class="row">
    <div class=" col-12 col-md-4 col-lg-3 h-75 ">
      <h4>Users</h4>
      <ul class="list-group ">
        <li class="list-group-item" *ngFor="let user of users">
          {{ user.name }}
          <div>
            <button
              (click)="fetchPosts(user.id, 'posts')"
              class="btn btn-success   "
            >
              Posts
            </button>
            <button
              (click)="fetchAlbums(user.id, 'albums')"
              class="btn btn-success  mx-3 "
            >
              Albums
            </button>
            <button
              (click)="fetchTasks(user.id, 'tasks')"
              class="btn btn-success  "
            >
              Tasks
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-8 col-lg-9 d-flex flex-column">
      <div  class="flex-grow-1 h-75 overflow-auto" *ngIf="currentView === 'posts' && posts.length > 0">
        <h4>Posts</h4>
        <ul class="list-group">
          <li class="list-group-item " *ngFor="let post of posts">
            <h5>{{ post.title }}</h5>
            <p>{{ post.body }}</p>
          </li>
        </ul>
      </div>

      <div class="flex-grow-1 h-75 overflow-auto" *ngIf="currentView === 'albums' && albums.length > 0">
        <h4>Albums</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let album of albums">
            {{ album.title }}
          </li>
        </ul>
      </div>

      <div class="flex-grow-1 h-75 overflow-auto"*ngIf="currentView === 'tasks' && albums.length > 0">
        <h4>Tasks</h4>
        <ul class="list-group  overflow-auto">
          <li class="list-group-item" *ngFor="let task of tasks">
            {{ task.title }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
