<div class="container mx-auto px-4">
  <div class="mt-5 lg:max-w-6xl mx-auto">
    <div class="flex flex-col space-y-4 lg:space-y-0">
      <div class="text-center" *ngIf="users">
        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
          <button
            (click)="fetchPosts(user.id, 'posts')"
            class="btn bg-blue-500 text-white w-full lg:w-auto active hover:bg-blue-600"
          >
            Posts
          </button>
          <button
            (click)="fetchAlbums(user.id, 'albums')"
            class="btn bg-blue-500 text-white w-full lg:w-auto hover:bg-blue-600"
          >
            Albums
          </button>
          <button
            (click)="fetchTasks(user.id, 'tasks')"
            class="btn bg-blue-500 text-white w-full lg:w-auto hover:bg-blue-600"
          >
            Tasks
          </button>
        </div>
      </div>

      <div class="flex justify-center items-center mt-5">
        <div class="card bg-gray-100 shadow-lg rounded-lg w-full lg:w-4/5 p-6">
          <div class="text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp"
              class="rounded-full mx-auto mb-4"
              style="width: 150px"
              alt="Avatar"
            />
            <hr class="my-4">
            <p class="text-gray-700 font-semibold">UserName: {{ user?.name }}</p>
            <p class="text-gray-700 font-semibold">Email: {{ user?.email }}</p>
            <button
              (click)="edite(user.id)"
              class="btn bg-blue-500 text-white w-full lg:w-auto hover:bg-blue-600 mt-4"
            >
              Edit
            </button>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <div *ngIf="currentView === 'posts' && posts.length > 0">
          <h4 class="text-lg font-bold mb-3">Posts</h4>
          <ul class="list-none">
            <li *ngFor="let post of posts" class="border-b border-gray-300 py-2">
              {{ post.title }}
            </li>
          </ul>
        </div>

        <div *ngIf="currentView === 'albums' && albums.length > 0">
          <h4 class="text-lg font-bold mb-3">Albums</h4>
          <ul class="list-none">
            <li *ngFor="let album of albums" class="border-b border-gray-300 py-2">
              {{ album.title }}
            </li>
          </ul>
        </div>

        <div *ngIf="currentView === 'tasks' && tasks.length > 0">
          <h4 class="text-lg font-bold mb-3">Tasks</h4>
          <ul class="list-none">
            <li *ngFor="let task of tasks" class="border-b border-gray-300 py-2">
              {{ task.title }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
