


<div class="input-group mt-3">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    #searchInput
    class="rounded-start"
    placeholder="جستجوی محصولات"
  />
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="filterProducts(searchInput.value)"
  >
    جستجو
  </button>
</div>

<div class="modal fade" id="productDetailsModal" tabindex="-1" aria-labelledby="productDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productDetailsModalLabel">{{ selectedProduct?.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <img *ngIf="selectedProduct" [src]="selectedProduct.imageUrl" class="img-fluid" alt="{{ selectedProduct.name }}" />
          </div>
          <div class="col-md-6" *ngIf="selectedProduct">
            <p><strong>Price:</strong> ${{ selectedProduct.price }}</p>
            <p><strong>Available Quantity:</strong> {{ selectedProduct.quantity }}</p>
            <div class="d-flex align-items-center">
              <button class="btn btn-secondary" (click)="decreaseQuantity()" [disabled]="selectedProduct.counter <= 1">-</button>
              <input type="number" class="form-control mx-2" style="width: 60px;" [min]="1" [max]="selectedProduct.quantity"
                [(ngModel)]="selectedProduct.counter" />
              <button class="btn btn-secondary" (click)="increaseQuantity()" [disabled]="selectedProduct.counter >= selectedProduct.quantity">+</button>
            </div>
            <button class="btn btn-primary mt-3" (click)="addToCart()">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid mt-5">
  <div class="row" style="gap:10x;">
    <div *ngFor="let product of filteredProducts" class="col-2">
      <div class="card shadow-sm" style="height: 300px; border: none;">
        <img
          [src]="product.imageUrl"
          class="card-img-top"
          alt="{{ product.name }}"
          style="height: 150px; width: 100%; object-fit: cover;"
        />
        <div class="card-body p-2" style="height: 120px;">
          <h5 class="card-title" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ product.name }}</h5>
          <p class="card-text text-muted" style="font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Price: ${{ product.price }}</p>
          <button class="btn btn-primary btn-block btn-sm" (click)="openModal(product)" style="font-size: 12px; padding: 5px;">جزئیات </button>
        </div>
      </div>
    </div>
  </div>
</div>



