
<div class="flex items-center mt-3">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    #searchInput
    class="rounded-l-lg border border-gray-100 p-2  focus:outline-none focus:ring-2 focus:ring-blue-500"
    placeholder="جستجوی محصولات"
  />
  <button
    class="bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-400 transition duration-300"
    type="button"
    (click)="filterProducts(searchInput.value)"
  >
    جستجو
  </button>
</div>
<!-- modal -->
<div
  class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50 hidden"
  id="productDetailsModal"
>
  <div class="bg-white rounded-lg shadow-lg w-11/12 md:w-3/4 lg:w-1/2">
    <div class="flex justify-between items-center border-b p-4">
      <h5 class="text-lg font-semibold">{{ selectedProduct?.name }}</h5>
      <button
        class="text-gray-500 hover:text-gray-700"
        (click)="closeModal()"
      >
        ×
      </button>
    </div>
    <div class="p-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <img
            *ngIf="selectedProduct"
            [src]="selectedProduct.imageUrl"
            class="w-full h-48 object-cover rounded"
            alt="{{ selectedProduct.name }}"
          />
        </div>
        <div *ngIf="selectedProduct">
          <p class="mb-2"><strong>Price:</strong> ${{ selectedProduct.price }}</p>
          <p class="mb-2"><strong>Available Quantity:</strong> {{ selectedProduct.quantity }}</p>
          <div class="flex items-center mb-4">
            <button
              class="px-3 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
              (click)="decreaseQuantity()"
              [disabled]="selectedProduct.counter <= 1"
            >
              -
            </button>
            <input
              type="number"
              class="w-16 mx-2 border rounded text-center"
              [min]="1"
              [max]="selectedProduct.quantity"
              [(ngModel)]="selectedProduct.counter"
            />
            <button
              class="px-3 py-1 bg-gray-300 text-gray-700 rounded hover:bg-gray-400"
              (click)="increaseQuantity()"
              [disabled]="selectedProduct.counter >= selectedProduct.quantity"
            >
              +
            </button>
          </div>
          <button
            class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition"
            (click)="addToCart()"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center mb-4">
  <button
    class="bg-gray-200 text-sm px-4 py-2 mx-2 rounded hover:bg-gray-300"
    (click)="columnCount = 2"
  >
    2 
  </button>
  <button
    class="bg-gray-200 text-sm px-4 py-2 mx-2 rounded hover:bg-gray-300"
    (click)="columnCount = 3"
  >
    3 
  </button>
  <button
    class="bg-gray-200 text-sm px-4 py-2 mx-2 rounded hover:bg-gray-300"
    (click)="columnCount = 4"
  >
    4 
  </button>
  <button
    class="bg-gray-200 text-sm px-4 py-2 mx-2 rounded hover:bg-gray-300"
    (click)="columnCount = 6"
  >
    6
  </button>
</div>

<!-- prodcuts -->
<div class="container mx-auto mt-5">
  <div class="grid gap-2" [ngClass]="{
    'grid-cols-2': columnCount === 2,
    'grid-cols-3': columnCount === 3,
    'grid-cols-4': columnCount === 4,
    'grid-cols-6': columnCount === 6
  }">
    <div
      *ngFor="let product of filteredProducts"
      class="bg-white shadow-lg rounded-lg overflow-hidden"
    >
      <img
        [src]="product.imageUrl"
        alt="{{ product.name }}"
        class="w-full h-36 object-cover"
      />
      <div class="p-4">
        <h5 class="text-sm font-semibold truncate">{{ product.name }}</h5>
        <p class="text-xs text-gray-500 truncate">Price: ${{ product.price }}</p>
        <button
          class="mt-2 w-full bg-blue-500 text-white text-xs py-2 px-4 rounded hover:bg-blue-600 transition"
          (click)="openModal(product)"
        >
          جزئیات
        </button>
      </div>
    </div>
  </div>
</div>



