body {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex

}

form {
  border: 2px solid #e0d6d6;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  flex-direction: column;
  

}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px 35px;
  margin: 15px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;


}

button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 5px;
  margin: auto; 
  display: block; 
  border: none;
  cursor: pointer;
  width: calc(50% - 26px);
  border-radius: 6px;

}


button:hover {
  opacity: 0.8;
}

.container {
  padding: 28px;
   max-width: 450px;

}

h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 25px;
  

}

#forgotPassword {
  text-decoration: none;
  font-size: medium;
  color: black;
  display: inline-block;
}
.psw{
 
}