
<div *ngIf="isAdmin; else nonAdminContent">
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="input-group mt-3">
        <!-- <input
          type="text"
          [(ngModel)]="searchTerm"
          #searchInput
          class="rounded-start"
          placeholder="جستجوی کاربران"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="filterUsers(searchInput.value)"
        >
          جستجو
        </button> -->
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-2">
        <ul class="list-group">
          <h5 class="mt-3">لیست کاربران</h5>
          <li
            class="list-group-item list-group-item-action border-0"
            *ngFor="let apiuser of ApiUsers"
          >
            <a
              class="text-decoration-none"
              [routerLink]="['/admin/user', apiuser.id]"
              queryParamsHandling="merge"
              >{{ apiuser.name }}</a
            >
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #nonAdminContent>
  <div class="container text-center">
    <h4>شما دسترسی ندارید!</h4>
    <p>فقط ادمین‌ها می‌توانند لیست کاربران را مشاهده کنند.</p>
  </div>
</ng-template>






<style>
.centered-card {
  border: 1px solid rgba(255, 0, 0, 0.379); 
  border-radius: 20px;
  margin-top: 15px;
  max-width: 50%;
  margin-left: 20%;
 }

</style>