<div *ngIf="isAdmin; else nonAdminContent">
  <div class="container-fluid">
    <div class="col-md-4">
      <div class="input-group mt-3">
        <input type="text" [(ngModel)]="searchTerm" #searchInput  class="rounded-start"/>
        <button class="btn btn-outline-secondary" type="button"  class="btn btn-outline-secondary "
        type="button"
        (click)="filterUsers(searchInput.value)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
          <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018"/>
          <path d="M13 6.5a6.47 6.47 0 0 1-1.258 3.844q.06.044.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11"/>
        </svg></button>
      </div> 
    </div>
    <div class="d-flex">
      <div class="col-md-2">
        <ul class="list-group">
          <h5 class="mt-3">User List</h5>
          <li
            class="list-group-item list-group-item-action border-0"
            *ngFor="let user of users"
          >
            <a
              class="text-decoration-none"
              [routerLink]="['/admin/user', user.id]"
              [queryParams]="{ search: searchTerm }"
              queryParamsHandling="preserve"
              >{{ user.name }}</a
            >
          </li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template class="container-fluid " #nonAdminContent>
  <div class="centered-card d-flex justify-content-center align-items-center">
    <div class="text-center m-3 p-2 " >
      <h4 >شما دسترسی ندارید!</h4>
      <p>فقط ادمین‌ها می‌توانند لیست کاربران را مشاهده کنند.</p>
    </div>
  </div>
</ng-template>




<style>
.centered-card {
  border: 1px solid rgba(255, 0, 0, 0.379); 
  border-radius: 20px;
  margin-top: 15px;
  max-width: 50%;
  margin-left: 20%;
 }

</style>